.todoFieldset {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.addTodoButton {
  margin-top: 15px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.addTodoButton:hover {
  cursor: pointer;
  color: green;
}

.todoInput {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 2px;
}

.formLabel {
  font-size: 0.9rem;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

