.todo-list-container {
  margin-top: 20px;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.todo-item {
  list-style: none;
  width: 300px;
}

.todoListHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  width: 300px;
}

.todoList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}
