/* ToDo.module.css */
.todo {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #f9f9f9;
  list-style: none;
}

.todoTitle {
  font-size: 1.2em;
}

.todoEditDelete {
  display: flex;
  gap: 5px;
  align-items: center;
}

.todoTitleAndClose {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todoStatus {
  font-size: 0.9em;
  color: #555;
}

.todoOwner {
  margin-top: -2px;
  font-size: 0em;
  color: #555;
}

.todoCreationDate {
  margin-top: -2px;
  font-size: 0.8em;
  color: #555;
  margin-bottom: 10px;
}

.todoStatusAndControl {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
}

.todoStatus {
  display: flex;
  align-items: center;
  gap: 3px;
}

.checkboxIcon {
  cursor: pointer;
  transition: color 0.3s ease;
}

.checkboxIcon:hover {
  color: #4caf50;
}

.deleteIcon {
  cursor: pointer;
  transition: color 0.3s ease;
}

.deleteIcon:hover {
  color: red;
}

.checkboxIcon:hover {
  color: #4caf50;
}

.completed {
  color: #6c757d;
}

.completed h2 {
  text-decoration: line-through;
}

.completed .checkboxIcon:hover {
  color: red;
}
