/* ToDo.module.css */
.todo {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #f9f9f9;
  list-style: none;
}

.todoTitle {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.todoTitleAndClose {
  display: flex;
  justify-content: space-between;
}

.todoStatus {
  font-size: 0.9em;
  color: #555;
}

.todo-status-and-control {
  display: flex;
  align-items: center;
  gap: 5px;
}

.checkboxIcon {
  cursor: pointer;
  transition: color 0.3s ease;
}

.checkboxIcon:hover {
  color: #4caf50;
}

.deleteIcon {
  cursor: pointer;
  transition: color 0.3s ease;
}

.deleteIcon:hover {
  color: red;
}

.checkboxIcon:hover {
  color: #4caf50;
}

.completed {
  color: #4caf50; 
}

.notCompleted {
  color: #f44336; 
}


